head,body{
    padding: 0px;
    margin: 0px;
}
*{
    box-sizing: border-box;
 }

 .menu {
    height: 25px;
    border: 1px solid #607560;
    background-color: #567557
 }
.ib {
    display: inline-block;
    width: 50px;
    font-size: large;
    text-align: center;
    cursor: pointer;
}
.ib:hover{
    background-color: rgb(34, 110, 34);
    border: thin solid rgb(10, 66, 27);
}
.menu-options {
    height: 65px;
    background-color: #8fe62a;
    background-image: linear-gradient(45deg, #b8bf71 0%, #272f1e 100%);
}
.menu-options-item{
    display: none;
}
.menu-group {
    width: 206px;
    margin-top: 4px;
    margin-left: 5px;
}
.menu-rows {
    margin-bottom: 3px;
}
input#bg-color {
    width: 55px;
}
input#text-color {
    width: 55px;
}
select#font-size {
    width: 55px;
}
.align {
    width: 29px;
}
input[type="button"] {
    font-weight: bold;
}
.selected{
    display: flex;
}
.highlight{
    background-color: greenyellow;
}
.highlight2{
    background-color: greenyellow;
}
.highlight3{
    background-color: greenyellow;
}
.formula-bar {
    display: flex;
    align-items: center;
    height: 26px;
    background-color: #8b9a7a;
}
input[type="text"] {
    background-color: #e6e6e6;
    height: 88%;
    width: 29%;
    margin-left: 28px;
}
.cell-container {
    height: calc(100vh - 146px);
    background-color: rgb(255, 255, 255);
    overflow: auto;
    position: relative;
}
.top-left-cell {
    height: 25px;
    width: 25px;
    border: 1px solid;
    border-radius: -10px;
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(97, 91, 78);
}
.top-row {
    display: flex;
    position: absolute;
    background-color: #65794d;
    left: 25px;
    z-index: 2;
    top: 0px;
}
.top-row>.cell {
    height: 25px;
    border: 1px solid black;
    width: 110px;
    text-align: center;
}
.left-col{
    position: absolute;
    top: 25px;
    z-index: 2;
}
.left-col>.cell {
    min-height: 32px;
    width: 25px;
    border: 1px solid black;
    text-align: center;
    background-color: #65794d;
}
.grid{
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 1;
}
.row{
    display: flex;
}
.row>.cell {
    min-width: 110px;
    max-width: 110px;
    border: 1px solid;
    min-height: 32px;
}
.sheets {
    height: 22px;
    border: 1px solid #717779;
    background-color: rgb(93, 88, 90);
}
